<section class="our-webcoderskull padding-lg">
    <div class="container">
        <div class="row heading heading-icon">
            <h2>Rajasthan Royals.</h2>
        </div>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="">Steve Smith (C)</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Manan Vohra   </a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Robin Uthappa</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Shashank Singh</a></h3>

                </div>
            </li>
        </ul>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Riyan Parag</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">David Miller</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Yashasvi Jaiswal </a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Akash Singh</a></h3>

                </div>
            </li>
        </ul>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Jos Buttler</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Anuj Rawat	 </a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Ben Stokes</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Tom Curran</a></h3>

                </div>
            </li>
        </ul>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Shreyas Gopal</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Mahipal Lomror</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Jaydev Undakat	</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Oshane Thomas </a></h3>

                </div>
            </li>
        </ul>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Andrew Tye</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Rahul Tewatia</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Mayank Markande</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Aniruddha Joshi</a></h3>

                </div>
            </li>
        </ul>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Kartik Tyagi</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Jofra Archer</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 279px;">
                    <figure><img src="assets/img/1483794437-ktttt.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Varun Aaron</a></h3>

                </div>
            </li>

        </ul>
    </div>
</section>