<div class="fetr">
    <div class="container">
        <div class="row">

            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="tile">
                    <div class="wrapper">
                        <div class="header">Player Profile Name</div>

                        <div class="banner-img">

                            <img src="assets/img/Sachin.jpg" alt="Image 1">
                        </div>

                        <div class="dates">

                            <div class="start">
                                Sachin Tendulkar
                                <span></span>
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>Test</strong> 3098
                            </div>

                            <div>
                                <strong>ODI</strong> 562
                            </div>

                            <div>
                                <strong>T20I</strong> 182
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="footer">

                            <a href="#" class="infi3_txt">GO To Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>