<h3 class="heading text-capitalize mb-sm-5 mb-4 text-center">Current Matches</h3>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="#">
                <div class="infime">
                    <div class="user">
                        <img src="assets/img1/a.png"> MI
                        <p class="flotr">160/6 (20)</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/b.png"> SRH
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <p>18th Match · MI won by 10 wickets</p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="infime">
                    <div class="user">
                        <img src="assets/img1/c.png"> KXIP
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/d.png"> KKR
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <p>17th Match · KXIP won by 34 runs </p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="infime">

                    <div class="user">
                        <img src="assets/img1/c.png"> CSK
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/e.png"> DC
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <p>17th Match · CKS won by 34 runs </p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="infime">
                    <div class="user">
                        <img src="assets/img1/d.png"> KKR
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/f.png"> DC
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <p>15th Match · MI won by 8 wickets </p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="#">
                <div class="infime">
                    <div class="user">
                        <img src="assets/img1/e.png"> CSK
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/g.png"> RCB
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <p>18th Match · SRH won by 10 wickets</p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="infime">
                    <div class="user">
                        <img src="assets/img1/f.png"> DC
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/a.png"> MI
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <p>17th Match · KKR won by 34 runs </p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="infime">
                    <div class="user">
                        <img src="assets/img1/b.png"> SRH
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/c.png"> KXIP
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <p>17th Match · DC won by 34 runs </p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="infime">
                    <div class="user">
                        <img src="assets/img1/d.png"> KKR
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/e.png"> CSK
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <p>15th Match · RCB won by 8 wickets </p>

                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="#">
                <div class="infime">
                    <div class="user">
                        <img src="assets/img1/f.png"> DC
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/g.png"> RCB
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <p>18th Match · CSK won by 10 wickets</p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="infime">
                    <div class="user">
                        <img src="assets/img1/a.png"> KXIP
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/b.png"> SRH
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <p>17th Match · MI won by 34 runs </p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="infime">
                    <div class="user">
                        <img src="assets/img1/c.png"> KXIP
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/d.png"> KKR
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <p>17th Match · MI won by 34 runs </p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="infime">
                    <div class="user">
                        <img src="assets/img1/e.png"> CSK
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/f.png"> DC
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <p>15th Match · RCB won by 8 wickets </p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="#">
                <div class="infime">
                    <div class="user">
                        <img src="assets/img1/a.png"> MI
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/b.png"> SRH
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <p>18th Match · CSK won by 10 wickets</p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="infime">
                    <div class="user">
                        <img src="assets/img1/c.png"> KXIP
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/d.png"> KKR
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <p>17th Match · MI won by 34 runs </p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="infime">
                    <div class="user">
                        <img src="assets/img1/c.png"> CSK
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/d.png"> DC
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <p>17th Match · MI won by 34 runs </p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="infime">
                    <div class="user">
                        <img src="assets/img1/e.png"> RCB
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/f.png"> MI
                        <p class="flotr">188/6 (20)</p>
                    </div>
                    <p>15th Match · RCB won by 8 wickets </p>

                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="#">
                <div class="infime">
                    <div class="user">
                        <img src="assets/img1/a.png"> MI
                        <p class="flotr">--</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/b.png"> SRH
                        <p class="flotr">--</p>
                    </div>
                    <p>--</p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="infime">
                    <div class="user">
                        <img src="assets/img1/c.png"> KXIP
                        <p class="flotr">--</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/d.png"> KKR
                        <p class="flotr">--</p>
                    </div>
                    <p>--</p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="infime">
                    <div class="user">
                        <img src="assets/img1/e.png"> CSK
                        <p class="flotr">--</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/f.png"> DC
                        <p class="flotr">--</p>
                    </div>
                    <p>--</p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="infime">
                    <div class="user">
                        <img src="assets/img1/a.png"> MI
                        <p class="flotr">--</p>
                    </div>
                    <div class="user1">
                        <img src="assets/img1/b.png"> RSH
                        <p class="flotr">--</p>
                    </div>
                    <p>-- </p>
                </div>
            </a>
        </div>
    </div>
</div>