<section class="our-webcoderskull padding-lg">
    <div class="container">
        <div class="row heading heading-icon">
            <h2>Royal Challengers Bangalore.</h2>
        </div>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="">Aditya Tare</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">ROHIT SHARMA   </a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">KIERON POLLARD </a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Hardik Pandya </a></h3>

                </div>
            </li>
        </ul>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Jasprit Bumrah</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Anmolpreet Singh </a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Anukul Roy </a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Chris Lynn </a></h3>

                </div>
            </li>
        </ul>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Dhawal Kulkarni</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Digvijay Deshmukh </a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Ishan Kishan </a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">James Pattinson </a></h3>

                </div>
            </li>
        </ul>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Jayant Yadav</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Krunal Pandya </a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Mitchell McClenaghan </a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Mohsin Khan </a></h3>

                </div>
            </li>
        </ul>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Nathan Coulter-Nile</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Prince Balwant Rai </a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Quinton de Kock </a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Rahul Chahar </a></h3>

                </div>
            </li>
        </ul>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Saurabh Tiwary</a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Sherfane Rutherford </a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Suryakumar Yadav </a></h3>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="    height: 279px;">
                    <figure><img src="assets/img/Rohit.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Trent Boult </a></h3>

                </div>
            </li>
        </ul>
    </div>
</section>