<h3 class="heading text-capitalize mb-sm-5 mb-4 text-center"> Delhi Capitals </h3>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="new-arrival">
                <div class="titlebar">
                    <div class="next-back">
                        <span><a data-slide="prev" href="#Carousel" class="left carousel-control">Back</a></span>
                        <span><a data-slide="next" href="#Carousel" class="right carousel-control">Next</a></span>
                    </div>
                </div>

                <div class="arrival-product">
                    <div id="Carousel" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="arrival-item">
                                    <ul>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center"><a (click)='sunction()'>Shreyas Iyer (C)</a></h5>
                                            <p class="text-center">Batsman</p>
                                        </li>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/AjinkyaRahane.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Ajinkya Rahane</h5>
                                            <p class="text-center">Batsman</p>
                                        </li>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/AmitMishra.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Amit Mishra</h5>
                                            <p class="text-center">Bowler</p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="arrival-item">
                                    <ul>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Avesh Khan</h5>
                                            <p class="text-center">Bowler</p>
                                        </li>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Axar Patel</h5>
                                            <p class="text-center">Allrounder</p>
                                        </li>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Harshal Patel</h5>
                                            <p class="text-center">Allrounder</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="arrival-item">
                                    <Ul>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Ishant Sharma</h5>
                                            <p class="text-center">Bowler</p>
                                        </li>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Kagiso Rabada</h5>
                                            <p class="text-center">Bowler</p>
                                        </li>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Keemo Paul</h5>
                                            <p class="text-center">Allrounder</p>
                                        </li>

                                    </Ul>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="arrival-item">
                                    <Ul>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Prithvi Shaw</h5>
                                            <p class="text-center">Batsman</p>
                                        </li>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Ravichandran Ashwin</h5>
                                            <p class="text-center">Bowler</p>
                                        </li>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Rishabh Pant</h5>
                                            <p class="text-center"> Wkt/Bat</p>
                                        </li>

                                    </Ul>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="arrival-item">
                                    <Ul>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Sandeep Lamichhane</h5>
                                            <p class="text-center"> Bowler</p>
                                        </li>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Shikhar Dhawan</h5>
                                            <p class="text-center"> Batsman</p>
                                        </li>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Alex Carey</h5>
                                            <p class="text-center"> Wkt/Bat</p>
                                        </li>

                                    </Ul>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="arrival-item">
                                    <Ul>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Shimron Hetmyer</h5>
                                            <p class="text-center">Batsman</p>
                                        </li>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Mohit Sharma</h5>
                                            <p class="text-center">Bowler</p>
                                        </li>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Tushar Deshpande</h5>
                                            <p class="text-center"> Bowler</p>
                                        </li>

                                    </Ul>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="arrival-item">
                                    <Ul>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Marcus Stoinis</h5>
                                            <p class="text-center">Allrounder</p>
                                        </li>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Lalit Yadav</h5>
                                            <p class="text-center">Allrounder</p>
                                        </li>
                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Anritch Nortje</h5>
                                            <p class="text-center">Bowler</p>
                                        </li>

                                    </Ul>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="arrival-item">
                                    <Ul>

                                        <li class="infi_fo">
                                            <a href="#"><img src="assets/img/delhicapitals/ShreyasIyer.jpg" alt="Image" style="max-width:100%;"></a>
                                            <h5 class="infi_meto text-center">Daniel Sam</h5>
                                            <p class="text-center">Bowler</p>
                                        </li>

                                    </Ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div *ngFor="let itam of usertesrt">
                <div class="fetr">

                    <div class="tile">
                        <div class="wrapper">
                            <div class="header">Player Profile Name</div>

                            <div class="banner-img">

                                <img src="assets/img/Sachin.jpg" alt="Image 1">
                            </div>

                            <div class="dates">

                                <div class="start">
                                    <p>{{itam.profile}}></p>
                                    <span></span>
                                </div>

                            </div>

                            <div class="stats">

                                <div>
                                    <strong>Test</strong> 3098
                                </div>

                                <div>
                                    <strong>ODI</strong>
                                    <p>{{itam.mat}}</p>
                                </div>

                                <div>
                                    <strong>T20I</strong> 182
                                </div>

                            </div>

                            <div class="stats">

                                <div>
                                    <strong>INVITED</strong> 3098
                                </div>

                                <div>
                                    <strong>JOINED</strong> 562
                                </div>

                                <div>
                                    <strong>DECLINED</strong> 182
                                </div>

                            </div>

                            <div class="stats">

                                <div>
                                    <strong>INVITED</strong> 3098
                                </div>

                                <div>
                                    <strong>JOINED</strong> 562
                                </div>

                                <div>
                                    <strong>DECLINED</strong> 182
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>








</div>